<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Review Website</title>
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
  <header>
    <div class="header">
      <div class="header-element">
        <p>Movie Review Sentiment Analysis</p>
      </div>
    </div>
  </header>
  <div class="main">
    <div class="card">
      <div class="card-details">
        <img src="/static/images/background.jpeg" alt="Movie Poster">
        <p class="text-title">Movie Name</p>
        <div class="form-control">
          <input type="text" id="reviewInput" required>
          <label for="reviewInput">
            <span style="transition-delay:0ms">R</span><span style="transition-delay:50ms">E</span><span style="transition-delay:100ms">V</span><span style="transition-delay:150ms">I</span><span style="delay:200ms">E</span><span style="transition-delay:250ms">W</span>
          </label>
        </div>
        <button id="submitReview">Submit </button>
      </div>
      <div id="result"></div>
    </div>
  </div>
  <script>
    document.getElementById('submitReview').addEventListener('click', function() {
      const reviewText = document.getElementById('reviewInput').value;

      if (!reviewText) {
        alert('Please enter a review before submitting.');
        return;
      }

      // Send an AJAX request to Flask backend
      fetch('/submit-review', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ review: reviewText }),
      })
      .then(response => response.json())
      .then(data => {
        // Display the sentiment result in the result <p> tag
        document.getElementById('result').textContent = 'Sentiment: ' + data.sentiment;
      })
      .catch(error => {
        console.error('Error:', error);
        document.getElementById('result').textContent = 'Error occurred during prediction.';
      });
    });
  </script>

</body>
</html>
